
@{
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}


<div id="services" class="container text-center" style="margin-top : 10%;">
    <h2>Outils de gestions</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <a href="~/User/UserList"><span class="glyphicon glyphicon-user logo-small"></span></a>
                <h4>Utilisateur</h4>
                <p>Créer un utilisateur ou lui modifier ces propriétés comme les prévilèges, le mot de passe ....</p>
</div>
        <div class="col-sm-4">
            <a href="~/Cat/CategoriListe"><span class="glyphicon glyphicon-folder-open logo-small"></span></a>
            <h4>Catégorie</h4>
            <p>Créer, renomer ou supprimer une catégorie de rapport</p>
        </div>
        <div class="col-sm-4">
            <a href="~/Etat/EtatListe"><span class="glyphicon glyphicon-file logo-small"></span></a>
            <h4>Rapport</h4>
            <p>Ajouter un rapport a la base de recherche du site avec ces paramètre</p>
        </div>
    </div>
</div>

