
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>edition</title>
</head>
<body>
    <div>
        @ViewData["test"]; <br />
        @ViewData["nr"] ; <br />
        @ViewData["ext"] ; <br />
        @ViewData["arg"] ;
    </div>
</body>
</html>
